<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>
      <%= orders.first.short_code  + "-" if orders.first.short_code.present? %><%= orders.first.restaurant_name %>-<%= delivery_at.to_date%>
    </title>
    <style>
      body {
        font-family: 'Arial';
      }

      .logo {
        width: 40px;
      }

      .red {
        color: red;
      }
      @media print {
        td, tr {page-break-inside: avoid; }
        table.full_report_table>tbody>tr>td {page-break-inside: avoid !important; }
      }
      ul.numb {margin-top: 0px; margin-bottom: 0px;}
      ul.numb > li {list-style: decimal; font-size: 0.9em;}
      ul.optionsList{padding: 0px; margin: 0; font-size: 14px; <%= defined?(fax) && fax ? 'color: black;' : 'color: red;' %>}
      ul.optionsList > li {display: inline-block; padding: 10px; margin-right: 7px; margin-bottom: 5px; <%= defined?(fax) && fax ? 'border: 1px solid #000000;' : 'border: 1px solid #ccc;' %> border-radius: 5px; <%= defined?(fax) && fax ? 'color: black;' : 'color: red;' %>}
      ul.optionsList > li:nth-child(1) {font-weight: bold; padding: 0; border: none; <%= defined?(fax) && fax ? 'color: black;' : 'color: red;' %>}
      .note{margin-top: 2px; padding: 5px; border-radius: 5px; <%= defined?(fax) && fax ? 'border: 1px solid #000000;' : 'border: 1px solid #d00;' %> font-size: 14px; position: relative; padding-left: 60px;}
      .note > .head{ <%= defined?(fax) && fax ? 'color: #fff; background: #000000;' : 'color: #fff; background: #d00;' %> padding: 5px; display: inline-block; position: absolute; top: 0; left: 0; text-transform: uppercase; }
      .tbl_ {
        font-size: 1.1em; font-weight: bold; margin-top: 25px; <%= defined?(fax) && fax ? 'border: 1px solid #000000;' : 'border: 1px solid #999;' %>;
      }
      .tbl_ td, .tbl_ th{
        padding: 5px;
      }
      .tbl_ > tbody tr:nth-child(odd){
        <%= defined?(fax) && fax ? 'border: 1px solid #fff;' : 'background: whitesmoke;' %>
      }
      .tbl_ > tbody tr:nth-child(odd) td:nth-last-child(1){
        <%= defined?(fax) && fax ? '' : 'border-right: 1px solid #999' %>
      }
      tr, td, th, tbody, thead, tfoot {
        page-break-inside: avoid !important;
      }
    </style>
    <%#= wicked_pdf_stylesheet_link_tag "buffet_pdf" %>
    <%= stylesheet_link_tag wicked_pdf_asset_base64("buffet_pdf")%>

</head>
<body>
  <table cellpadding="3" cellspacing="0" width="100%">
    <tr>
      <td width="20%" valign="top">
        <%= image_tag wicked_pdf_asset_base64("#{defined?(fax) && fax ? 'logo_black.png' : 'logo.png'}"), :style => "width: 40px;" %>
      </td>
      <td width="60%" align="center" valign="top" style="font-size: 1em;">
        Chowmill Order Summary
      </td>
      <td width="20%" valign="top" style="font-size:0.9em; font-weight: bold; text-align: center;">
        ORDER<br>QUANTITY
      </td>
    </tr>
    <tr>
      <td align="center" valign="top" style="font-size:1.5em; text-align: center; font-weight: bold; <%= defined?(fax) && fax ? 'color: #000;' : 'color: grey;' %>">
        Order # <strong><span style="font-family: Times New Roman;"><%= runningmenu.id %></span></strong>
        &nbsp;
      </td>
      <td align="center" valign="top">
        <span style="display: block; text-align: center; font-size: 1.2em; font-weight: bold;"><%= orders.first.restaurant_name %></span>
        <span style="display: block; text-align: center; font-size: 1.2em; font-weight: bold;"><%= orders.first.restaurant_location.split(':').last %></span>
        <span style="font-size: 1.3em; font-weight: bold; <%= defined?(fax) && fax ? 'color: black;' : 'color: red;'%>">
          <%= delivery_at.strftime('%A, %B %d, %Y') %><br>
          <% if runningmenu.pickup? %>
            Pickup Time: <%= pickup_time %>
          <% else %>
            Delivery Time: <%=runningmenu.delivery_at_timezone.strftime("%I:%M %p") %>
          <% end %>
        </span>
      </td>
      <td valign="top" style="font-size:1.5em; text-align: center; font-weight: bold;">
        <strong><span><%= orders.sum{|order| order.order_status == 'active' ? order.quantity : 0 } %></span></strong> Items
      </td>
    </tr>
  </table>
  <fieldset style="margin-top: 20px; <%= defined?(fax) && fax ? 'border: 1px solid #000000;' : 'border: 1px solid #ccc;' %> border-radius: 5px;">
    <legend style="padding: 5px 10px; <%= defined?(fax) && fax ? 'border: 2px solid #000000;' : 'border: 2px solid #ccc;'%> background: #fff; white-space: nowrap; font-size: 1em; font-weight: bold; border-radius: 5px;">SPECIAL INSTRUCTIONS:</legend>
    <ul class="numb">
      <li><strong>RESTAURANT:</strong> To provide utensils & napkins</li>
      <li><strong>DRIVER:</strong> To apply labels, please assist driver</li>
      <li>Contact support@chowmill.com with any questions.</li>
    </ul>
 </fieldset>
 <table cellpadding="0" cellspacing="0" width="100%" class="tbl_">
   <thead>
     <tr>
       <th width="10%" align="left" style="white-space: nowrap; <%= defined?(fax) && fax ? 'border-bottom: 1px solid #000000;' : 'border-bottom: 1px solid #999;' %> padding-bottom: 10px;">
         DISH SIZE
       </th>
       <th width="8%" align="left" style="<%= defined?(fax) && fax ? 'border-bottom: 1px solid #000000;' : 'border-bottom: 1px solid #999;' %> padding-bottom: 10px;">
         SERVES
       </th>
       <th width="8%" align="left" style="<%= defined?(fax) && fax ? 'border-bottom: 1px solid #000000;' : 'border-bottom: 1px solid #999;' %> padding-bottom: 10px;">
         QTY
       </th>
       <th width="64%" align="left" style="<%= defined?(fax) && fax ? 'border-bottom: 1px solid #000000;' : 'border-bottom: 1px solid #999;' %> padding-bottom: 10px;">
         ITEM
       </th>
       <th width="10%" align="left" style="<%= defined?(fax) && fax ? 'border-bottom: 1px solid #000000;' : 'border-bottom: 1px solid #999;' %> padding-bottom: 10px;">
         PRICE
       </th>
     </tr>
   </thead>
    <tbody>
      <% if orders.present? %>
        <% orders.each do |order|%>
          <tr>
            <td valign="top">
              <%= order.dish_title %>
            </td>
            <td valign="top">
              <%= order.serve_count %>
            </td>

            <td valign="top">
              <%= order.quantity %>
            </td>
            <td valign="top"><%= order.fooditem_name %><br>
              <% if order.fooditem_description.present? %>
                <span style='line-height: 1.5em; height: 3em; display: block; overflow: hidden; font-size: 10px; <%= defined?(fax) && fax ? '' : 'color: #666;'%>'><%= order.fooditem_description %></span>
              <% end %>
              <% if order.options.present? %>
                <% opt_arr = []%>
                <ul class="optionsList">
                  <li>Options:</li>
                  <span style="font-weight: normal; <%= defined?(fax) && fax ? 'color: #000;' : ''%>">
                    <% order.options.split(', ').each do |option| %>
                      <% opt_detail_arr = option.split('$')%>
                      <% opt_arr.push(opt_detail_arr[0]) %>
                    <% end %>
                    <%= opt_arr.join(', ') %>
                  </span>
                </ul>
              <% end %>
              <% if order.remarks.present? %>
                <ul class="optionsList">
                <li><span class="head">Remarks: </span><%= order.remarks %> </li>
                </ul>
              <% end %>
              <% if order.fooditem_notes_to_restaurant.present? %>
                <div class="note"><span class="head">Note:</span><u><%= order.fooditem_notes_to_restaurant %></u></div>
              <% end %>
            </td>
            <td valign="top">
              <%= (order.dish_price.present? ? (order.dish_price + (order.options.present? ? order.options_price : 0)) : (order.fooditem_price - (order.options.present? ? order.options_price : 0))) * order.quantity %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
 </table>
 <br>
  <% if address_id.present? %>
    <% billing = OrderHelper.orders_billing(orders)%>
    <table style="width: 100%; margin-top: 10px;" cellpadding="10">
      <tr style="page-break-inside: avoid;">
        <td style="width: 10%; border: 2px solid black; background:#eae8e8; font-size: 16px; font-weight: bold;">
          Sub Total
        </td>
        <td style="width: 10%; border: 2px solid black; background:#eae8e8; font-size: 16px; font-weight: bold;">
          Tax (<%= billing["sale_tax_percentage"] %>%)
        </td>
        <td style="width: 10%; border: 2px solid black; background:#eae8e8; font-size: 16px; font-weight: bold;">
          <% if billing["enable_self_service"] && billing["delivery_meeting"] %>
            Delivery Cost
          <% else %>
            Commission (<%= billing["discount_percentage"] %>%)
          <% end %>
        </td>
        <td style="width: 10%; border: 2px solid black; background:#eae8e8; font-size: 16px; font-weight: bold;">
          Total Payout
        </td>
      </tr>
      <tr>
        <td style="width: 10%; border:1px solid silver; text_align: right;">$<%= billing["sub_total"] %></td>
        <td style="width: 10%; border:1px solid silver; text_align: right;">$<%= billing["sale_tax"] %></td>
        <td style="width: 10%; border:1px solid silver; text_align: right;">$<%= billing["enable_self_service"] && billing["delivery_meeting"] ? billing["delivery_cost"] : billing["commission"] %></td>
        <td style="width: 10%; border:1px solid silver; text_align: right;">$<%= billing["payout_total"] %></td>
      </tr>
    </table>
  <% end %>
</body>
</html>
