<!DOCTYPE html>
  <head>
    <title></title>
    <script>
      function number_pages() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = decodeURIComponent(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
        hideHeader()
      }
      function hideHeader() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}

        if(vars['page'] == 1){
          var elt = document.getElementById("headers_table");
          elt.parentNode.removeChild(elt);
        }
      }
    </script>
  </head>
  <body onload="number_pages()">
    <table style="width:100%;">
      <tr>
        <td style="width: 33%"><h1>Chowmill, Inc.</h1>
            458 Esther Ave, Campbell, CA 95008
            <br>Phone: (408) 883-9415<br>
            Email: support@chowmill.com
        </td>
        <td style="width: 33%; text-align: center;">
            <%= image_tag wicked_pdf_asset_base64("logo.png"), :style => "width: 40px;", alt: 'logo' %>
        </td>
        <td style="width: 33%; text-align: right;">
            <h1 style="color:silver"><%= @invoice.charged_cc ? 'RECEIPT' : 'INVOICE' %></h1>
            Invoice Number: <%= @invoice.invoice_number %><br>
            Current Date: <%= @invoice.created_at_timezone.strftime("%m/%d/%Y") %> <br>
            Page: <span class="page"></span> of <span class="topage"></span>
        </td>
      </tr>
    </table>
    <div style="max-height: 52px; overflow: hidden; width: 100%;">
      <% line_items_total_discount = @invoice.line_items.sum(:discount) %>
      <% order_column_sum = @invoice.orders.select("SUM(orders.discount) AS total_discount, SUM(orders.user_price) AS total_user_paid").to_a.first %>
      <table style="width: 100%" cellpadding="0" cellspacing="0" id="headers_table">
        <tbody>
          <tr>
            <!-- <td style="border:1px solid black; padding:8px; background: #eae8e8; font-weight: bold;">
              <div style="width:80px; font-size: 14px;">
                Delivery<br>Date
              </div>
            </td> -->
            <% colAvail = 0 %>
            <% if order_column_sum.total_discount > 0 || line_items_total_discount > 0 %>
              <% colAvail += 1 %>
            <% end %>
            <% if order_column_sum.total_user_paid > 0 %>
              <% order_column_sum.total_discount > 0 || line_items_total_discount > 0 ? colAvail += 1 : colAvail = 3%>
            <% end %>
            <td style="<%= colAvail == 0 ? "width: 18%;" : colAvail == 2 ? "width: 12.5%;" : colAvail == 3 ? "width: 15.5%;" : "width: 16.5%;" %>   border:1px solid black; padding:8px; background: #eae8e8; font-weight: bold;">
              <div style="font-size: 14px;">
                User
              </div>
            </td>
            <td style="<%= colAvail == 0 ? "width: 18%;" : colAvail == 2 ? "width: 13%;" : colAvail == 3 ? "width: 15.5%;" : "width: 16.5%;" %> border:1px solid black; padding:8px; background: #eae8e8; font-weight: bold;">
              <div style="font-size: 14px;">
                Restaurant
              </div>
            </td>
            <td style="<%= colAvail == 0 ? "width: 16%;" : colAvail == 2 ? "width: 9.5%;" : colAvail == 3 ? "width: 12.5%;" : "width: 14.5%;" %> border:1px solid black; padding:8px; background: #eae8e8; font-weight: bold;">
              <div style="font-size: 14px;">
                Qty.
              </div>
            </td>
            <td style="<%= colAvail == 0 ? "width: 16%;" : colAvail == 2 ? "width: 15.5%;" : colAvail == 3 ? "width: 16%;" : "width: 15.5%;" %> border:1px solid black; padding:8px; background: #eae8e8; font-weight: bold;">
              <div style=" font-size: 14px;">
                Item
              </div>
            </td>
            <td style="<%= colAvail == 0 ? "width: 8.5%;" : colAvail == 2 ? "width: 9%;" : colAvail == 3 ? "width: 8.5%;" : "width: 9%;" %> border:1px solid black; padding:8px; background: #eae8e8; font-weight: bold;">
              <div style="font-size: 14px;">
                Unit Price
              </div>
            </td>
            <td style="<%= colAvail == 0 ? "width: 9.5%;" : colAvail == 2 ? "width: 9%;" : "width: 9.5%;" %> border:1px solid black; padding:8px; background: #eae8e8; font-weight: bold;">
              <div style="font-size: 14px;">
                Company<br>Paid
              </div>
            </td>
            <% if order_column_sum.total_user_paid > 0 %>
              <td style="<%= colAvail == 2 ? "width: 9%;" : colAvail == 3 ? "width: 8.5%;" : "" %> border:1px solid black; padding:8px; background: #eae8e8; font-weight: bold;">
                <div style="font-size: 14px;">
                  User<br>Paid
                </div>
              </td>
            <% end %>
            <td style="border:1px solid black; padding:8px; background: #eae8e8; font-weight: bold;">
              <div style="<%= colAvail == 0 ? "width: 12%;" : colAvail == 2 ? "width: 9%;" : "" %>font-size: 14px;">
                Amount
              </div>
            </td>
            <% if order_column_sum.total_discount > 0 || line_items_total_discount > 0 %>
              <td style="<%= colAvail == 0 ? "" : colAvail == 2 ? "width: 11.5%;" : "" %>border:1px solid black; padding:8px; background: #eae8e8; font-weight: bold;">
                Discount
              </td>
            <% end %>
          </tr>

          <tr>
            <!-- <td style="border:1px solid white; background: #ffffff; color: #000;">
              <div style="word-break: break-all;">
                11/26/201912569
              </div>
            </td> -->
            <td style="border:1px solid white; background: #ffffff; color: #000;">
              <div style="width: 50%; word-break: break-all;">
                gh tv
              </div>
            </td>
            <td style="border:1px solid white; background: #ffffff; color: #000;">
              <div style="word-break: break-all;">
                Subway
              </div>
            </td>
            <td style="border:1px solid white; background: #ffffff; color: #000;">
              <div style="word-break: break-all;">
                5
              </div>
            </td>
            <td style="border:1px solid white; background: #ffffff; color: #000;">
              <div style=" word-break: break-all;">
                Chicken Tikka
              </div>
            </td>
            <td style="border:1px solid white; background: #ffffff; color: #000;">
              <div style="word-break: break-all;">
                $888.00
              </div>
            </td>
            <td style="border:1px solid white; background: #ffffff; color: #000;">
              <div style="word-break: break-all;">
                $888.88
              </div>
            </td>
            <% if order_column_sum.total_user_paid > 0 %>
              <td style="border:1px solid white; background: #ffffff; color: #000;">
                <div style="word-break: break-all;">
                  $888.88
                </div>
              </td>
            <% end %>
            <td style="border:1px solid white; background: #ffffff; color: #000;">
              <div style="word-break: break-all;">
                $65.00
              </div>
            </td>
            <% if order_column_sum.total_discount > 0 || line_items_total_discount > 0 %>
              <td style="border:1px solid white; background: #ffffff; color: #000;">
                <div style="word-break: break-all;">
                  $0.0
                </div>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>

  </body>
</html>
