<tr>
  <td>
    <% if order.fooditem.image.present? %>
      <img src="<%= order.fooditem.image %>" alt="food-image" width="100" style="max-width:100px; max-height:100px;">
    <% else %>
      <%= image_tag("#{ENV['CLOUDFRONT_URL']}/icons/item-placeholder.png",  alt: 'food-image', :style => "height:100px; width:100px; object-fit:cover; border-radius:5px;") %>
    <% end %>
  </td>
  <% if order.group.present? %>
    <td style="padding:10px;text-align: center;vertical-align: middle;">
      <h1 style="line-height: 1rem;">
        <%= order.group %>
      </h1>
      <h5>
        Group
      </h5>
    </td>
  <% end %>
  <td>
    <table style="margin-left: 10px; color: #646464;">
      <tr>
        <td>
          <%= order.fooditem.name %> 
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag("#{ENV['CLOUDFRONT_URL']}/icons/store-solid.png" , :style=>"width:20px; height:20px;") %>
          <%= order.restaurant.name %>
        </td>
      </tr>
    </table>
  </td>
</tr>