            <%= render 'layouts/header' %>
            <p style="margin-left: auto; text-align: right; font: normal normal 500 16px/22px helvetica; letter-spacing: 0px; color: #FFFFFF; opacity: 1;">
            </p>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div style=" background-color: #fff;box-shadow: 0px 3px 26px #0000000A; width: 85%; z-index: 1; margin: auto; border-radius:20px; padding: 30px 20px;">
            <table style="margin:0 auto; width: 100%; text-align: center;">
              <tr>
                <td>
                  <p style="margin: 0; font: normal normal 500 22px/32px helvetica; letter-spacing: 0px; color: #1F1F1F; opacity: 1;text-align: center;">
                    Order History
                  </p>
                </td>
              </tr>
            </table>
            <div style="display:flex;margin-top:20px">
              <table style="table-layout: auto; width: 10%;">
                <tr>
                  <td>
                    <p style="margin:0;text-align:left;font:normal normal 400 13px/22px helvetica;letter-spacing:0px;color:#646464;opacity:1">
                      Order
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p style="margin:0;text-align:left;font:normal normal 500 18px/25px helvetica;letter-spacing:0px;color:#212529;opacity:1">
                      <%= @orders.count %>
                    </p>
                  </td>
                </tr>
              </table>
              <table>
                <tr>
                  <td>
                    <p style="margin: 0; text-align: left; font: normal normal 400 13px/22px helvetica; letter-spacing: 0px; color: #646464; opacity: 1;">
                      Total Order Amount
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p style="margin: 0; text-align: left; font: normal normal 500 18px/25px helvetica; letter-spacing: 0px; color: #212529; opacity: 1;">
                      $<%= @orders.map{|order| order.company_price}.sum %>
                    </p>
                  </td>
                </tr>
              </table>
            </div>
            <div style="display: flex;margin-top: 20px;">
              <p style="margin:0; text-align: left; font: normal normal normal 14px/20px helvetica; letter-spacing: 0px; color: #646464; opacity: 1;">
                Delivery on&nbsp;
              </p>
              <p style="margin: 0; text-align: left; font: normal normal 500 15px/21px helvetica; letter-spacing: 0px; color: #646464;">
                <%= @orders.first.runningmenu.delivery_at_timezone.strftime('%B %d, %Y at %I:%M%p') %>
              </p>
            </div>
            <div style="display: flex;align-items: center; margin-top: 10px;">
              <p style="margin:0; text-align: left; font: normal normal normal 14px/20px helvetica; letter-spacing: 0px; color: #646464; opacity: 1;">
                <%= image_tag("#{ENV['CLOUDFRONT_URL']}/icons/location-dot-solid.png" , :style=> "width:20px; height:20px;") %>
              </p>
              <p style="margin: 0 0 0 8px; text-align: left; font: normal normal 500 15px/21px helvetica; letter-spacing: 0px; color: #646464;">
                <%= @orders.first.company.name %>
              </p>
            </div>
            <div style="display: flex;margin-top: 5px;">
              <p style="margin:0px; text-align: left; font: normal normal 500 14px/20px helvetica; letter-spacing: 0px; color: #646464; opacity: 1;">
                <%= @orders.first.runningmenu.address.name %>
              </p>
            </div>
            <div style="margin-top: 30px;">
              <table style="width: 100%;border-collapse: collapse;">
                <tr style="background-color: #FAFAFA; padding: 15px 20px;">
                  <td>
                    <p style="margin: 0; padding-left:10px; text-align: left; font: normal normal 500 14px/54px helvetica; letter-spacing: 0px; color: #212529; opacity: 1;">
                      User
                    </p>
                  </td>
                  <td>
                    <p style="margin: 0; text-align: left; font: normal normal 500 14px/54px helvetica; letter-spacing: 0px; color: #212529; opacity: 1;">
                      Item
                    </p>
                  </td>
                  <td>
                    <p style="margin: 0; text-align: left; font: normal normal 500 14px/54px helvetica; letter-spacing: 0px; color: #212529; opacity: 1;">
                      Qty
                    </p>
                  </td>
                  <td>
                    <p style="margin: 0; text-align: left; font: normal normal 500 14px/54px helvetica; letter-spacing: 0px; color: #212529; opacity: 1;">
                      Price
                    </p>
                  </td>
                  <% if @enable_grouping_orders_check %>
                    <td>
                      <p style="margin: 0; padding-right: 20px; text-align: left; font: normal normal 500 14px/54px helvetica; letter-spacing: 0px; color: #212529; opacity: 1;">
                        Group
                      </p>
                    </td>
                  <% end %>
                </tr>
                <% @orders.each do |order| %>
                  <tr style="border-bottom: 1px solid #DDDFE1;">
                    <td style="padding: 8px 0 12px; vertical-align: top;">
                      <p style="margin: 0; padding-left: 10px; text-align: left; font: normal normal normal 13px/22px helvetica; letter-spacing: 0px; color: #212529; opacity: 1;">
                        <%= order.user.name %>
                      </p>
                    </td>
                    <td style="padding: 8px 0 12px; vertical-align: top;">
                      <p style="margin: 0;text-align: left; font: normal normal normal 13px/22px helvetica; letter-spacing: 0px; color: #464A53; opacity: 1;">
                        <%= order.fooditem.name %>
                      </p>
                      <% order.optionsets_orders.each do |optionset_order| %>
                        <p style="margin: 0; text-align: left;font: normal normal normal 13px/18px helvetica; letter-spacing: 0px; color: #A8A8A8; opacity: 1;">
                          <%= optionset_order.optionset.name %>: 
                          <% optionset_order.options_orders.each do |option_order| %>
                          <%= option_order.option.description %>
                          <% end %>
                        </p>
                      <% end %>
                    </td>
                    <td style="padding: 8px 0 12px; vertical-align: top; ">
                      <p style="margin: 0; text-align: left; font: normal normal normal 13px/22px helvetica; letter-spacing: 0px; color: #464A53; opacity: 1;">
                        <%= order.quantity %>
                      </p>
                    </td>
                    <td style="padding: 8px 0 12px; vertical-align: top; ">
                      <p style="margin: 0; text-align: left; font: normal normal normal 13px/22px helvetica; letter-spacing: 0px; color: #464A53; opacity: 1;">
                        <%= order.company_price %>
                      </p>
                    </td>
                    <% if @enable_grouping_orders_check %>
                      <td style="padding: 8px 0 12px; vertical-align: top; ">
                        <p style="margin: 0; text-align: left; font: normal normal normal 13px/22px helvetica; letter-spacing: 0px; color: #464A53; opacity: 1;">
                          <%= order.group %>
                        </p>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </table>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </td>
</tr>
<%= render 'layouts/footer' %>