<div class="relate_menu__">
  <span class="section_label__">Fooditems:</span>
  <span>Dish Sizes</span>
</div>
<%= simple_form_for(resource, method: :post, url: related_dishsizes_admin_restaurant_address_menu_path) do |f| %>
  <%= f.simple_fields_for :fooditems do |fooditem| %>
    <% if fooditem.object.active? %>
      <span class="fooditem_label__"><%= fooditem.object.name %>:</span>
      <%= fooditem.simple_fields_for :dishsizes do |os| %>
        <%= os.select :dishsize_id, options_from_collection_for_select(resource.address.dishsizes.active, "id", "title", fooditem.object.dishsizes.active.pluck('id')), {:include_blank => true}, {:multiple => true} %>
      <% end %><br>
    <% end %>
  <% end %>
  <%= f.submit 'Save', name: nil , :style => "width:100px; margin-top: 20px;" %>
  <%= link_to "Cancel", :back %>
<% end %>
