<%= render 'layouts/header' %>
<div>
  <%= @user_name.titleize %> from <%= @company_name %> has requested new vendor: <br><br>

  <%= @vendor_name %><br><br>
  <%= @vendor_address %>
</div>
<%= render 'layouts/footer' %>
